<!DOCTYPE html>
<html>
  <head>
    <title>Azam Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= video_tag "love_coding.mp4", controls: false, autoplay: true, muted: true, loop: true, class: "video-background", type: "video/mp4" %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
